beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
htmlmin==0.1.12
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
misaka==2.1.1
pathtools==0.1.2
pycparser==2.20
python-dotenv==0.14.0
PyYAML==5.3.1
requests==2.24.0
sipy @ git+https://github.com/half-cambodian-hacker-man/sipy.git@07725ef2920ffa5ebbc551ac1a1ecbb150a945a0
soupsieve==2.0.1
urllib3==1.25.10
watchdog==0.10.3
Werkzeug==1.0.1
